// Colors
$white: #fff;
$grey-1: #eee;
$grey-2: #ebebeb;
$grey-3: #666;
$yellow: #fff159;
$blue: #3483fa;
// Spacing
$default-padding: 7.5px;
$default-content-padding: 10%;

// border radius
$default-border-radius: 4px;

// font size
$title-1: 22px;
$title-2: 24px;
$title-3: 34px;
$subtitle-1: 14px;

// sizes
$toolbar-height: 50px;
$nav-categories-height: 30px;

@mixin full-image-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@function padding-pow($multiplier) {
  @return $default-padding * $multiplier;
}
