@import './sass/base';

.App {
  height: 100%;
  text-align: center;
}

.App-content {
  align-items: center;
  background-color: $grey-2;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: calc(100% - #{$toolbar-height});
  padding: 2% $default-content-padding calc(2% + #{$nav-categories-height});
}
